@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* React Slick Carousel Custom Styles */
.slick-dots {
  bottom: 20px;
}

.slick-dots li button:before {
  color: white;
  opacity: 0.5;
  font-size: 10px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  opacity: 0.75;
}